.centerForm {
    margin: 0 auto;
    max-width: 650px;
    padding: 0 calc(4px * 2);
}

.formLogo {
    margin: 0 auto;
    max-width: 75%;
}

.w-35 {
    width: 35%;
}

.forceFullHeight {
    height: 100% !important;
}

.navbarIcon {
    width: 60px;
}

.navbarButton {
    width: 100px;
}

.toastContainer {
    position: relative;
}

.formError {
    position: absolute;
    width: 100%;
}

.formToast {
    position: absolute;
    width: 100%;
    transform: translate(0, -120%);
}
